﻿@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-sm-4 content-header-center">
        <a asp-controller="Home" asp-action="Index">Home</a> / <a>@ViewData["Title"]</a>
    </div>
</div>

<div class="row content-body">

    <div class="col-md-6 card">
        <div class="card-header">ERP Log in</div>
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
              
              
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="w3-input w3-border" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="w3-input w3-border" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="w3-button w3-border">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
