﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row content-header">
    <div class="col-md-4">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-md-4">
        <a asp-controller="Home" asp-action="Index">Home</a> / <a asp-controller="Account" asp-action="Login">Log in</a> / <a>@ViewData["Title"]</a>
    </div>
</div>

<div class="row content-body">

    <div class="col-md-4 card">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div class="row card-header">
                Create a new account.
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
