<!-- <button class="input-button w3-button w3-tiny" onclick="document.getElementById('id01').style.display='block'">+</button> -->
<button class="input-button w3-button w3-tiny" (click)="popUpClient(true, $event)">+</button>

<div id="clientModal" class="w3-modal">
        <div class="w3-modal-content card">
            <div class="card-header">
                <!-- <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span> -->
                <span (click)="popUpClient(false, {clientX:0})" class="w3-button w3-display-topright">&times;</span>
                New Client
            </div>
            <form (submit)="onSubmit()">
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label>Name</label>
                        <input class="w3-input w3-border" [(ngModel)]="client.name" name="name">
                    </div>
                    <div class="form-group col-xs-2">
                        <label>Days</label>
                        <input class="w3-input w3-border" type="number" [(ngModel)]="client.daysForPaying" name="days">
                    </div>
                    <div class="form-group col-xs-3">
                        <label>UniqueNumber</label>
                        <input class="w3-input w3-border" [(ngModel)]="client.uniqueNumber" name="uniqueNumber">
                    </div>
                    <div class="form-group col-xs-3">
                        <label>TaxNumber</label>
                        <input class="w3-input w3-border" [(ngModel)]="client.taxNumber" name="taxNumber">
                    </div>
                    <div class="form-group col-xs-2">
                        <label>PhoneNumber</label>
                        <input class="w3-input w3-border" [(ngModel)]="client.phoneNumber" name="phoneNumber">
                    </div>
                    <div class="form-group col-xs-3">
                        <label>Address</label>
                        <input class="w3-input w3-border" [(ngModel)]="client.address" name="address">
                    </div>
                    <div class="form-group col-xs-2">
                        <label>City</label>
                        <input class="w3-input w3-border" [(ngModel)]="client.city" name="city">
                    </div>
                    <div class="form-group col-xs-2">
                        <label>ZipCode</label>
                        <input class="w3-input w3-border" [(ngModel)]="client.zipCode" name="zipCode">
                    </div>
                    <div class="form-group col-xs-3">
                        <label>Country</label>
                        <input class="w3-input w3-border" [(ngModel)]="client.country" name="country">
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="w3-button w3-border">Save</button>
                </div>

                <div *ngIf="responseMessage">
                    <ul class="text-{{responseMessage.success ? 'success' : 'danger'}}" *ngFor="let value of responseMessage.values">
                        {{value}}
                    </ul>
                </div>

            </form>
        </div>
    </div>

    <!-- [ngModelOptions]="{standalone: true}"> s -->
