<button class="w3-button w3-tiny input-button" (click)='popUpItem(true, $event)'>+</button>



<div id="itemModal" class="w3-modal">
    <div class="w3-modal-content card">
        <div class="card-header">
            <span (click)="popUpItem(false, {clientX:0})" class="w3-button w3-display-topright">&times;</span>
            New Item
        </div>

        <form (submit)="saveItem()">
            <div class="row">
                <div class="form-group col-xs-5">
                    <label>Code</label>
                    <input class="w3-input w3-border" [(ngModel)]="item.code" name="code">
                </div>
                <div class="form-group col-xs-7">
                    <label>Name</label>
                    <input class="w3-input w3-border" name="itemName" [(ngModel)]="item.name">
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="w3-input w3-border" name="description" [(ngModel)]="item.description">
            </div>
            <div class="row">
                <div class="form-group col-xs-4">
                    <label>Item type</label>
                    <select  class="w3-input w3-border" name="type" [ngModel]="item.itemTypeID" (ngModelChange)="item.itemTypeID = $event">
                        <option *ngFor="let it of itemTypes" [ngValue]="it.key">{{it.value}}</option>
                    </select>
                </div>
                <div class="form-group col-xs-4">
                    <label>Package</label>
                    <select class="w3-input w3-border" name="package" [ngModel]="item.itemPackageID" (ngModelChange)="item.itemPackageID = $event">
                        <option *ngFor="let ip of itemPacking" [ngValue]="ip.key">{{ip.value}}</option>
                    </select>
                </div>
                <div class="form-group col-xs-4">
                    <label>Vat class</label>
                    <select class="w3-input w3-border" name="vatClass" [ngModel]="item.vatClassID" (ngModelChange)="item.vatClassID = $event">
                        <option *ngFor="let vc of vatClass" [ngValue]="vc.key">{{vc.value}}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-2">
                    <label>Price</label>
                    <input type="number" class="w3-input w3-border" name="price" [(ngModel)]="item.price">
                </div>
                <div class="form-group col-xs-4">
                    <label>DateValidFrom</label>
                    <input type="date" class="w3-input w3-border" name="dateFrom" [ngModel] ="item.dateValidFrom | date:'yyyy-MM-dd'" (ngModelChange)="item.dateValidFrom = $event">
                </div>
                <div class="form-group col-xs-4">
                    <label>DateValidTo</label>
                    <input type="date" class="w3-input w3-border" name="dateTo" [ngModel] ="item.dateValidTo | date:'yyyy-MM-dd'" (ngModelChange)="item.dateValidTo = $event">
                </div>
                <div class="form-group col-xs-2">
                    <label >PriceWithVAT</label><br>
                    <input type="checkbox" name="cbPriceWithVAT" [(ngModel)]="item.priceWithVAT">
                </div>
            </div>
           
            <div style="height: 40px;">
                <button type="submit" class="w3-btn w3-border w3-right">Save</button>
            </div>
        
            <div *ngIf="responseMessage">
                <ul class="text-{{responseMessage.success ? 'success' : 'danger'}}" *ngFor="let value of responseMessage.values"  style="padding-top:30px;">
                    {{value}}
                </ul>
            </div>
           
        </form>
        
    </div>
</div>
