@model ERP.ViewModels.AdministrationViewModels.IndexViewModel

<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>Administration</h2>
    </div>    
    <div class="col-sm-4 content-header-center">
        <a asp-controller="Home" asp-action="Index">Home</a> / <a asp-controller="Administration" asp-action="Index">Administration</a>
    </div>    
</div>

<div class="row content-body">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Company</div>
                <form asp-controller="Administration" asp-action="UpdateCompany" method="POST" enctype="multipart/form-data">
                    <input asp-for="ID" class="form-control" readonly type="hidden">
                        <div class="form-group">
                        <img src="@Model.LogoSrc" alt="Company logo goes here." width="120" height="100"/>
                        <input type="file" asp-for="LogoFile"class="w3-input w3-border" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="w3-input w3-border">
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label asp-for="UniqueNumber"></label>
                            <input asp-for="UniqueNumber" class="w3-input w3-border">
                            <span asp-validation-for="UniqueNumber"></span>
                        </div>
                        <div class="form-group col-xs-6">
                            <label asp-for="TaxNumber"></label>
                            <input asp-for="TaxNumber" class="w3-input w3-border">
                            <span asp-validation-for="TaxNumber"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" class="w3-input w3-border">
                        <span asp-validation-for="Address"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="w3-input w3-border">
                        <span asp-validation-for="PhoneNumber"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country"></label>
                        <input asp-for="Country" class="w3-input w3-border">
                        <span asp-validation-for="Country"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-7">
                            <label asp-for="City"></label>
                            <input asp-for="City" class="w3-input w3-border">
                            <span asp-validation-for="City"></span>
                        </div>
                        <div class="form-group col-xs-5">
                            <label asp-for="ZipCode"></label>
                            <input asp-for="ZipCode" class="w3-input w3-border">
                            <span asp-validation-for="ZipCode"></span>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="w3-btn w3-border">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">User</div>
                <form asp-controller="Administration" asp-action="Users" method="POST">
                    <input asp-for="User.ID" hidden>
                    <div class="form-group col-xs-5">
                        <label asp-for="User.UserName"></label>
                        <input asp-for="User.UserName" class="w3-input w3-border">
                    </div>
                    <div class="form-group col-xs-5">
                        <label asp-for="User.Role"></label>
                        <select asp-for="User.Role" asp-items="@Model.User.RolesList" class="w3-input w3-border"></select>
                    </div>
                    <div class="form-group col-xs-2">
                        <label asp-for="User.Active"></label><br>
                        <input asp-for="User.Active" class="w3-input w3-border">
                    </div>
                    <div class="row">
                        <div asp-validation-summary="All" class="text-danger col-xs-7"></div>
                        <div class="text-right col-xs-5">
                            @if(Model.User.IsNotNew)
                            {
                                <a asp-controller="Administration" asp-action="Index" class="w3-btn w3-border">New</a>
                            }
                            <button type="submit" class="w3-btn w3-border">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            @if(Model.User.List.Count > 0)
            {
                <table class="table table-bordered card">
                    <thead>
                        <tr>
                            <td colspan="4" class="card-header">User list</td>
                        </tr>
                        <tr>
                            <th>User name</th>
                            <th>Role</th>
                            <th>Active</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.User.List)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>@user.Role</td>
                                <td><input asp-for="@user.Active" onclick="return false;"></td>
                                <td><a asp-controller="Administration" asp-action="Index" asp-route-id="@user.ID">Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
