@model ERP.ViewModels.AdministrationViewModels.RolesViewModel

<a asp-controller="Home" asp-action="Index">Home</a> / <a asp-controller="Administration" asp-action="Index">Administration</a> / <a>Roles</a>
<h2>Roles</h2>
<hr>

<div class="row">
    <div class="col-md-3">
        <form asp-controller="Administration" asp-action="Roles" method="POST">
            <div class="form-group">
                <label asp-for="Role"></label>
                <input asp-for="Role" class="form-control">
                <span asp-validation-for="Role"></span>
            </div>
            <button class="btn btn-success btn-block">Save</button>
        </form>
    </div>
    <div class="col-md-9">
        @{
            if (Model.Roles.Count > 0)
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td><label asp-for="@Model.Roles[0].ID"></label></td>
                            <td><label asp-for="@Model.Roles[0].Role"></label></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model.Roles)
                        {
                            <tr>
                                <td>@role.ID</td>
                                <td>@role.Role</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h2>No roles yet.</h2>
            }
        }
    </div>
</div>