﻿@{
    ViewData["Title"] = "About";
}

<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-sm-4 content-header-center">
        <a asp-controller="Home" asp-action="Index">Home</a> / <a>@ViewData["Title"]</a>
    </div>
</div>

<div class="row content-body">

    <h3>@ViewData["Message"]</h3>
    <p>Use this area to provide additional information.</p>

</div>