﻿@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-sm-4 content-header-center">
        <a>Home</a>
    </div>
</div>

<div class="row content-body">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1>Hello @UserManager.GetUserName(User)!</h1>
    }
    else
    {
        <h2>Not loged in yet.</h2>
    }
    <hr>
    @*<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>*@
    <app>Loading...</app>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @section scripts {
        <script src="~/dist/main-client.js" asp-append-version="true"></script>
    }

</div>