
<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-sm-4 content-header-center">
        <a>@ViewData["Title"]</a>
    </div>
</div>

<div class="row content-body-under-construction">
 
</div>