﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - ERP</title>
    <link rel="icon" href="../../wwwroot/document-64.ico">

    <base href="~/" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/W3CSS/w3.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/W3CSS/w3.min.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div class="col-sm-2 custom-nav">
        <div class="custom-nav-logo">
            <a class="btn btn-block custom-nav-menu-item" asp-area="" asp-controller="Home" asp-action="Index"><h3>ERP</h3></a>
            <button type="button" class="btn btn-default btn-md toggle-nav-btn mobile-visible-only" data-toggle="collapse" data-target="#myNavbar">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <a class="btn btn-block custom-nav-menu-item" asp-area="" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span> Home</a>
            <a class="btn btn-block custom-nav-menu-item" asp-area="" asp-controller="Items" asp-action="Index"><span class="glyphicon glyphicon-list-alt"></span> Items</a>
            <a class="btn btn-block custom-nav-menu-item" asp-area="" asp-controller="Documents" asp-action="Index"><span class="glyphicon glyphicon-duplicate"></span> Documents</a>
            <a class="btn btn-block custom-nav-menu-item" asp-area="" asp-controller="Clients" asp-action="Index"><span class="glyphicon glyphicon-briefcase"></span> Clients</a>
            <a class="btn btn-block custom-nav-menu-item" asp-area="" asp-controller="Home" asp-action="Reports"><span class="glyphicon glyphicon-list"></span> Reports</a>
            <a class="btn btn-block custom-nav-menu-item" asp-area="" asp-controller="Administration" asp-action="Index"><span class="glyphicon glyphicon-cog"></span> Administration</a>
            <a class="btn btn-block custom-nav-menu-item" asp-area="" asp-controller="Home" asp-action="About"><span class="glyphicon glyphicon-info-sign"></span> About</a>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>

    <div class="col-sm-10">
        @RenderBody()
       <footer class="content-footer text-center">
            @DateTime.Now.Year - ERP v1.2.0 <br>
            <a asp-controller="Home" asp-action="Index">Home</a> -
            <a asp-controller="Items" asp-action="Index">Items</a> -
            <a asp-controller="Documents" asp-action="Index">Documents</a> -
            <a asp-controller="Clients" asp-action="Index">Clients</a> -
            <a asp-controller="Home" asp-action="Reports">Reports</a> -
            <a asp-controller="Administration" asp-action="Index">Administration</a> -
            <a asp-controller="Home" asp-action="About">About</a>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
