@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <a class="btn btn-block custom-nav-menu-item" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><span class="glyphicon glyphicon-user"></span> Account ( @UserManager.GetUserName(User) )</a>
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <button class="btn btn-block custom-nav-menu-item custom-nav-menu-item-button" type="submit"><span class="glyphicon glyphicon-log-out"></span> Log out</button>
    </form>
}
else
{
   <a class="btn btn-block custom-nav-menu-item custom-nav-menu-item-button" asp-area="" asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
}
