﻿@{
    Layout = null;
}

@model ERP.DomainModel.Document

<html>
<head>
    <meta charset="UTF-8">
    <!-- <link href="~/wwwroot/css/site.css" type="text/css" rel="stylesheet" /> -->
    <style>
        .invoice-box {
            max-width: 900px;
            margin: auto;
            font-size: 13px;
            line-height: 23px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }
        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }
        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }
        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }
        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }
        .invoice-box table tr.information table td {
            padding-bottom: 20px;
        }
        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }
        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }
        .invoice-box table tr.total td {
            font-weight: bold;
            line-height: 15px;
            padding: 3px;
        } 

        .invoice-box table tr.signature table{
            margin-top:50px;
        }

      
    </style>
</head>
<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="10">
                    <table>
                        <tr>
                            <td class="title">
                                @if (Model.Company.Logo != null && Model.Company.Logo.Length > 0)
                                {
                                    var @LogoSrc = $"data:image/jpg;base64,{Convert.ToBase64String(Model.Company.Logo)}";
                                    <img src="@LogoSrc" alt="Company logo goes here." width="150" height="100"/>
                                }
                                else
                                {
                                    <img src="" alt="Company logo goes here." width="120" height="100"/>
                                }
                            </td>
                            <td>
                                Документ бр: @Model.ID-@Model.DocumentTypeID/@Model.Year
                                <br> Датум: @Model.DocumentDate.ToShortDateString()
                                <br> Краен рок за плаќање: @Model.DocumentDate.AddDays(@Model.Client.DaysForPaying).ToShortDateString()
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="information">
                <td colspan="10">
                    <table>
                        <tr>
                            <td>
                                @Model.Company.Name<br>
                                @Model.Company.UniqueNumber<br>
                                @Model.Company.Address<br>
                                @Model.Company.PhoneNumber<br>
                                @Model.Company.ZipCode, @Model.Company.City<br>
                                @Model.Company.Country
                            </td>
                           <td>
                                @Model.Client.Name<br>
                                @Model.Client.UniqueNumber<br>
                                @Model.Client.Address<br>
                                @Model.Client.PhoneNumber<br>
                                @Model.Client.ZipCode, @Model.Client.City<br>
                                @Model.Client.Country
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="document-name">
                <th colspan="10" style="text-align: center; padding-bottom: 20px; font-size: 22px;">@Model.DocumentType.Name</th>
            </tr>

            <tr class="heading ">
                <td>Шифра</td>
                <td style="text-align:left;">Артикал</td>
                <td>Тип</td>
                <td style="text-align:right;">Количина</td>
                <td style="text-align:right;">Цена без ддв</td>
                <td style="text-align:right;">ддв</td>
                <td style="text-align:right;">Цена со ддв</td>
                <td style="text-align:right;">Вкупно без ддв</td>
                <td style="text-align:right;">Вкупно ддв</td>
                <td style="text-align:right;">Вкупно со ддв</td>
            </tr>

            
            @foreach (var dd in Model.DocumentDetails)
            {
                <tr class="item">
                    <td>@dd.Item.Code</td>
                    <td style="text-align:left;">@dd.Item.Name (@dd.Item.Description)</td>
                    <td>@dd.Item.ItemType.Name</td>
                    <td style="text-align:right;">@dd.Quantity</td>
                    <td style="text-align:right;">@dd.ItemPrice.Price</td>
                    <td style="text-align:right;">@dd.VatClass.Value</td>
                    <td style="text-align:right;">@((@dd.ItemPrice.Price + @dd.ItemPrice.Price * @dd.VatClass.Value / 100).ToString("N2"))</td>
                    <td style="text-align:right;">@dd.TotalBasicPrice</td>
                    <td style="text-align:right;">@dd.TotalVatPrice</td>
                    <td style="text-align:right;">@dd.TotalPrice</td>
                </tr>
            }

            <tr class="total">
                <td colspan="8" style="text-align:right;">Вкупно без ддв:</td>
                <td colspan="2" style="text-align:right;">@Model.BasicPrice ден.</td>
            </tr>
            <tr class="total">
                <td colspan="8" style="text-align:right;">Вкупно ддв:</td>
                <td colspan="2" style="text-align:right;">@Model.VatPrice ден.</td>
            </tr>
            <tr class="total">
                <td colspan="8" style="text-align:right;">Вкупно со ддв:</td>
                <td colspan="2" style="text-align:right;">@Model.Price ден.</td>
            </tr>

            <tr class="signature">
                <td colspan="10">
                    <table>
                        <tr>
                            <td class="title">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Предал: <br><br>
                                _________________
                            </td>
                            <td>
                                Примил: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br><br>
                                _________________
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>