@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.search-results{
    position: absolute;
    overflow-y: auto;
    width: auto;
    min-width: 80%;
    max-height: 300px; 
    z-index: 1;
    background-color: white;
    /* border: 1px solid #3399ff; */
}

.search-results-list{
    padding: 5px;
    cursor: pointer;
}

.search-results-list:hover{
    border: 1px solid gray;
}
