
<div class="card col-sm-12">
    <div class="card-header">New Document</div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label>Client</label>
            <form (keyup)="searchClient(clientSearch.value)" (submit)="selectClient(clients[0])">
                <input class="w3-input w3-border input-with-button" [ngModel]="doc.clientName" autocomplete="off" id="clientt" #clientSearch name="cSearch">
                <client></client>
                <div class="w3-border w3-hover-border-blue search-results" *ngIf="clients.length > 0">
                    <div *ngFor='let client of clients' class="search-results-list" (click)="selectClient(client)">
                        {{client.name}}
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group col-sm-3">
            <label for="documentType">Document type</label>
            <select id="documentType" class="w3-input w3-border" [ngModel]="doc.documentTypeID" (ngModelChange)="doc.documentTypeID = $event">
                <option *ngFor="let dc of documentTypes" [ngValue]="dc.key">{{dc.value}}</option>
            </select>
        </div>
        <div class="col-sm-5 row">
            <div class="form-group col-xs-8">
                <label for="date">Date</label>
                <input type="date" id="date" class="w3-input w3-border" [ngModel] ="doc.date | date:'yyyy-MM-dd'" (ngModelChange)="doc.date = $event">
            </div>
            <div class="form-group col-xs-4">
                <label>Open </label><br>
                <input type="checkbox" [ngModel]="doc.open">
            </div>
        </div>
    </div>
    <div class="row">
        <form (keyup)="search(text.value)" (submit)="selectItem(items[0])">
            <div class="form-group col-sm-6">
                <label for="Item">Item</label>
                <input type="text" id="item" class="w3-input w3-border input-with-button" autocomplete="off" #text name="testSelectedItem" [ngModel]="docDetails.itemName">
                <item></item>
                <div class="w3-border w3-hover-border-blue search-results" *ngIf="items.length > 0">
                    <div *ngFor='let item of items' class="search-results-list" (click)="selectItem(item)">
                        {{item.code}} {{item.name}} ({{item.description}})
                    </div>
                </div>
            </div>
        </form>
        <div class="form-group col-sm-3">
            <label for="quantity">Quantity</label>
            <form (submit)="addItem(quantity.value)" class="row">
                <div class="col-xs-8">
                    <input type="number" id="quantityy" name="qntity" [ngModel]="docDetails.quantity" #quantity class="w3-input w3-border">
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="w3-btn w3-white w3-border w3-tiny w3-block mobile-visible-only">Add item</button>
                </div>
            </form>
        </div>
        <div *ngIf="itemResponseMessage" class="col-sm-3">
            <ul class="text-{{itemResponseMessage.success ? 'success' : 'danger'}} add-item-message" *ngFor="let value of itemResponseMessage.values">
                {{value}}
            </ul>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Item</th> 
                <th>Quantity</th>
                <th>Basic Price</th>
                <th>Vat</th>
                <th>Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dd of doc.documentDetails">
                <td>{{dd.itemCode}}</td>
                <td>{{dd.itemName}}</td>
                <td>{{dd.quantity}}</td>
                <td>{{dd.basicPrice}}</td>
                <td>{{dd.vat}}%</td>
                <td>{{dd.price}}</td>
                <td>{{dd.totalPrice}}<button (click)="removeItem(dd)" class="w3-button w3-right w3-tiny">&times;</button></td>
            </tr>
            <tr *ngIf="doc.documentDetails.length > 0">
               <th colspan="6"></th>
               <th>={{doc.priceForPaying}}</th>  
            </tr>
        </tbody>
    </table>
    <div *ngIf="docResponseMessage">
        <ul class="text-{{docResponseMessage.success ? 'success' : 'danger'}} text-center" *ngFor="let value of docResponseMessage.values">
            {{value}}
        </ul>
    </div>
    <div *ngIf="doc.documentDetails.length > 0" class="text-right">
        <a *ngIf="doc.id != undefined" href="documents/InvoiceAsync/{{doc.id}}" target="_blank" class="w3-btn w3-white w3-border">Print</a>
        <button *ngIf="doc.id != undefined" class="w3-btn w3-white w3-border" (click)="newDocument()">New</button>
        <button class="w3-btn w3-white w3-border" (click)="saveDocument()">Save</button>
    </div>
</div>


