﻿body {
    padding : 0px;
    margin:0px;
    color: #272822;
}

input{
    padding:0px;
}

label{
    margin-bottom:0px;
}

a{
    color:#225588;
}

.test-colors{
    background-color: #4EC9B0;
    background-color: #569CD6;
    background-color: #C586C0;
    background-color: #9CDCFE;
    background-color: #795E26;
    background-color: #267f99;
    background-color: #0000FF;
    background-color: #AF00DB;
    background-color: #001080;
    background-color: #000c18;
    background-color: #6688cc;
    background-color: #002040;
    background-color: #082050;
    background-color: #770811;
    background-color: #223355;
    background-color: #22aa44;
    background-color: #f280d0;
    background-color: #225588;
    background-color: #9966b8;
    background-color: #ffeebb;
    background-color: #2277ff;
    background-color: #ddbb88;
    background-color: #F8F8F0;
    background-color: #272822;
    background-color: #F8F8F2;
    background-color: #49483E;
    background-color: #FFE792;
    background-color: #F8F8F2A5;
    background-color: #75715E;
    background-color: #E6DB74;
    background-color: #AE81FF;
    background-color: #F92672;
    background-color: #66D9EF;
    background-color: #A6E22E;
    background-color: #FD971F;
    background-color: #CFCFC2;
}

.erp-color{
    background-color: #AE81FF;
}

.custom-nav{
    border-right: #75715E 1px solid;
    padding: 0px;
}

.custom-nav-logo{
    border-bottom: #75715E 1px solid;
}

.custom-nav-menu-item-button{
    background-color: white;
    color:#225588;
}

.toggle-nav-btn{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-right: 10px;
}

#myNavbar{
    border-bottom: #75715E 1px solid;
}

.content-header{
    border-bottom: #75715E 1px solid;
    background-color: white;
    padding-bottom: 7px;
}

.content-header-left{
    border-top: solid #333, 1px;
    text-align: center;
}

.content-header-center{
    padding-top: 0px;
    text-align: center;
}

.content-body{
    background-color: #F8F8F2;
    overflow: auto;
    height:90vh; 
    box-shadow: inset 2px 2px 10px rgba(68, 68, 68, 0.6);
    padding: 15px;
    padding-bottom: 50px;
}

.content-footer{
    position: absolute;
    bottom: -30px;
    padding: 5px 5px;
    background-color: white;
    border-top: 1px solid gray;
    margin: 0px -15px;
    width: 100%;
}

.table-header{
    text-align:center; 
    font-weight: bold;
    background-color:#AE81FF;
}

.card{
    box-shadow: 2px 5px 5px rgba(68, 68, 68, 0.6);
    background-color: white;
    margin-bottom: 15px;
    padding: 15px;
}

.card-header{
    text-align:center; 
    font-weight: bold;
    background-color:#AE81FF;
    padding: 8px;
    margin: -15px -15px 15px -15px;
}

.background-white{
    background-color: white;
}

.shadow{
    box-shadow: 2px 5px 5px rgba(68, 68, 68, 0.6);
}

.menu-pill{
    cursor: pointer;
    border: 1px solid #569CD6;
}

.w3-input{
    padding: 4px;
}

.input-with-button{
    padding-left: 46px;
}

.input-button{
    position: absolute;
    margin-top: -32px;
}

.content-body-under-construction{
    background-image:url("~/../../underConstruction.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    background-color: #F8F8F2;
    overflow: auto;
    height:90vh; 
    box-shadow: inset 2px 2px 10px rgba(68, 68, 68, 0.6);
    padding: 15px;
    padding-bottom: 50px;
}

.mobile-visible-only{
    display: block;
}

.add-item-message{
    text-align: center;
}

@media (min-width: 768px) {
    /* CSS that will affect after View width exceed 768px */

    .custom-nav {
        height: 100vh;
    }

    .mobile-visible-only{
        display: none;
    }

    .custom-nav-menu-item{
        text-align: left;
    }

    .content-header-left{
        text-align: left;
    }

    .content-header-center{
        padding-top: 27px;
    }

    .add-item-message{
        text-align: left;
        padding-top: 25px;
        margin-left: -111px;
    }

    #myNavbar{
        border-bottom: none;
    }
}


