@model IEnumerable<ItemViewModel>

<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>@ViewData["title"]</h2>
    </div>
    <div class="col-sm-4 content-header-center">
        <a asp-controller="Home" asp-action="Index">Home</a> / <a>Items</a>
    </div>
</div>

<div class="row content-body">

    <ul class="nav nav-pills">
        <li><a class="menu-pill background-white shadow" asp-controller="Items" asp-action="Item">New Item</a></li>
        <li><a class="menu-pill background-white shadow" asp-controller="Items" asp-action="ItemTypes">Item types</a></li>
        <li><a class="menu-pill background-white shadow" asp-controller="Items" asp-action="ItemPacking">Item packing</a></li>
        <li><a class="menu-pill background-white shadow" asp-controller="Items" asp-action="VatClass">Vat class</a></li>
        <li><a class="menu-pill background-white shadow" asp-controller="Items" asp-action="ItemPrices">Item prices</a></li>
        <li><a class="menu-pill background-white shadow" asp-controller="Items" asp-action="ItemStock">Item stock</a></li>
    </ul>

    <hr>

    @{ 
        if(Model != null)
        {
            <div class="table-responsive">
                <table class="table table-bordered card">
                    <thead>
                    <tr>
                        <td colspan="7" class="card-header">List of items</td>
                    </tr>
                    <tr>
                        <th><Label asp-for="@Model.First().Code"></Label></th>
                        <th><Label asp-for="@Model.First().Name"></Label></th>
                        <th><Label asp-for="@Model.First().Description"></Label></th>
                        <th><label asp-for="@Model.First().ItemType"></label></th>
                        <th><label asp-for="@Model.First().VatClassName"></label></th>
                        <th><Label asp-for="@Model.First().Active"></Label></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Code</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.ItemType</td>
                            <td>@item.VatClassName</td>
                            <td><input asp-for="@item.Active" onClick="return false;"></td>
                            <td><a asp-controller="Items" asp-action="Item" asp-route-id="@item.ID">Edit</a></td>
                        </tr>   
                    }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div>
                <h2>No items yet.</h2>
            </div>
        }
    }

</div>

