@model ItemViewModel

@{
    ViewData["title"] = "Item";
}

<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>@ViewData["title"]</h2>
    </div>
    <div class="col-sm-4 content-header-center">
        <a asp-controller="Home" asp-action="Index">Home</a> / <a asp-controller="Items" asp-action="Index">Items</a> / <a>Item</a>
    </div>
</div>

<div class="row content-body">
    <div class="col-md-6">
        <div class="row card">
            <div class="card-header">
                Item details
            </div>
            <form asp-controller="Items" asp-action="Item" method="POST">
                <input asp-for="ID" hidden>
                <div class="row">
                    <div class="form-group col-xs-5">
                        <label asp-for="Code"></label>
                        <input asp-for="Code" class="w3-input w3-border">
                        <span asp-validation-for="Code"></span>
                    </div>
                    <div class="form-group col-xs-7">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="w3-input w3-border">
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="w3-input w3-border">
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemTypeID"></label>
                    <select asp-for="ItemTypeID" asp-items="@Model.ItemTypeList" class="w3-input w3-border" ></select>
                </div>
                <div class="form-group">
                    <label asp-for="ItemPackageID"></label>
                    <select asp-for="ItemPackageID" asp-items="@Model.ItemPackageList" class="w3-input w3-border" ></select>
                </div>
                <div class="form-group">
                    <label asp-for="VatClassID"></label>
                    <select asp-for="VatClassID" asp-items="@Model.VatClassList" class="w3-input w3-border" ></select>
                </div>
                <div class="form-group">
                    <label asp-for="Active"></label>
                    <input asp-for="Active">
                </div>

                <div class="row">
                    <div class="form-group col-xs-8">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="w3-input w3-border">
                    </div>
                    <div class="form-group col-xs-4">
                        <label asp-for="PriceWithVAT"></label><br>
                        <input asp-for="PriceWithVAT">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label asp-for="DateValidFrom"></label>
                        <input asp-for="DateValidFrom" class="w3-input w3-border">
                    </div>
                    <div class="form-group col-xs-6">
                        <label asp-for="DateValidTo"></label>
                        <input asp-for="DateValidTo" class="w3-input w3-border">
                    </div>
                </div>
                <input asp-for="ItemPriceID" hidden>

                <div asp-validation-summary="All" class="text-danger"></div>

                @if(Model.Message != null)
                {
                    <partial name="_Message" for="Message"></partial>
                }

                <div class="text-right">
                    @if(Model.IsNotNew)
                    {
                        <a asp-controller="Items" asp-action="Item" asp-route-id="" class="w3-btn w3-border ">New Item</a>
                    }
                    <button type="submit" class="w3-btn w3-border ">Save</button>
                </div>

                
            </form>
        </div>
    </div>