@model ItemTypeViewModel

@{
    ViewData["Title"] = "Item types";
}

<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>@ViewData["title"]</h2>
    </div>
    <div class="col-sm-4 content-header-center">
        <a asp-controller="Home" asp-action="Index">Home</a> / <a asp-controller="Items" asp-action="Index">Items</a> / <a>Item types</a>
    </div>
</div>

<div class="row content-body">
    <div class="card col-md-5">
        <div class="card-header">New item type</div>
        <form method="POST" asp-controller="Items" asp-action="ItemTypes">
            <input asp-for="ID" hidden>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="w3-input w3-border">
            </div>
            <div class="form-group col-xs-6">
                <label asp-for="AffectingQuantity"></label><br>
                <input asp-for="AffectingQuantity">
            </div>
            <div class="form-group col-xs-6">
                <label asp-for="Active"></label><br>
                <input asp-for="Active">
            </div>
            
            <div class="row">
                <div asp-validation-summary="All" class="text-center text-danger col-xs-8">
                </div>
                <div class="col-xs-4 text-right">
                    @if(Model.IsNotNew)
                    {
                        <a asp-controller="Items" asp-action="ItemTypes" asp-route-id="" class="w3-btn w3-border">New</a>
                    }
                    <button type="submit" class="w3-btn w3-border">Save</button>
                </div>
            </div>
            
            
        </form>
    </div>

    <hr>
    
    @{
        if (Model.ItemTypeList.Count > 0)
        {
            <table class="table background-white shadow">
                <thead>
                    <tr class="table-header">
                        <td class="table-header" colspan="5">Item types</td>
                    </tr>
                    <tr>
                        <th><label asp-for="@Model.ItemTypeList[0].Name"></label></th>
                        <th><label asp-for="@Model.ItemTypeList[0].AffectingQuantity"></label></th>
                        <th><label asp-for="@Model.ItemTypeList[0].Active"></label></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var type in Model.ItemTypeList)
                {
                    <tr>
                        <td>@type.Name</td>
                        <td><input asp-for="@type.AffectingQuantity" onclick="return false;"></td>
                        <td><input asp-for="@type.Active" onclick="return false;"></td>
                        <td><a asp-controler="Items" asp-action=ItemTypes asp-route-id="@type.ID">Edit</a></td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <h2>No item types yet.</h2>
        }
    }

</div>