@model IEnumerable<ERP.ViewModels.ItemsViewModels.ItemStockViewModel>

<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-sm-4 content-header-center">
        <a asp-controller="Home" asp-action="Index">Home</a> / <a asp-controller="Items" asp-action="Index">Items</a> / <a>@ViewData["Title"]</a>
    </div>
</div>

<div class="row content-body">
    @if(Model != null)
    {
        <div class="table-responsive">
            <table class="table table-bordered card">
                <thead>
                <tr>
                    <td colspan="4" class="card-header">List of items with current stock</td>
                </tr>
                <tr>
                    <th><Label>Code</Label></th>
                    <th><Label>Name</Label></th>
                    <th><Label>Description</Label></th>
                    <th><label>Quantity</label></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Code</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Stock</td>
                    </tr>   
                }
                </tbody>
            </table>
        </div>
    }
</div>