@model ItemPackingViewModel

@{
    ViewData["Title"] = "Item Packing";
}

<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>@ViewData["title"]</h2>
    </div>
    <div class="col-sm-4 content-header-center">
        <a asp-controller="Home" asp-action="Index">Home</a> / <a asp-controller="Items" asp-action="Index">Items</a> / <a>Item packing</a>
    </div>
</div>

<div class="row content-body">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">New packing</div>
                <form method="POST" asp-controller="Items" asp-action="ItemPacking">
                    <input asp-for="ID" hidden>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="w3-input w3-border">
                    </div>
                    <div class="form-group">
                        <label asp-for="ItemSingleUnitID"></label>
                        <select asp-for="ItemSingleUnitID" asp-items="@Model.ItemSingleUnitList" class="w3-input w3-border" ></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ItemSingleUnitName"></label>
                        <input asp-for="ItemSingleUnitName" class="w3-input w3-border">
                    </div>
                    
                    <button type="submit" class="w3-button w3-border">Save packing</button>
                </form>
            </div>
            @if(Model.ItemPackingList.Count > 0){
                <table class="table table-bordered card">
                    <tr>
                        <td class="table-header" colspan="3">Item packings</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Single Unit</th>
                        <th></th>
                    </tr>
                    @foreach(var package in Model.ItemPackingList)
                    {
                        <tr>
                            <td>@package.Name</td>
                            <td>@package.ItemSingleUnitName</td>
                            <td><a asp-controller="Items" asp-action="ItemPacking" asp-route-id="@package.ID">Edit</a></td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>

