@model ItemPriceViewModel

@{
    ViewData["title"] = "Item prices";
}

<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>@ViewData["title"]</h2>
    </div>
    <div class="col-sm-4 content-header-center">
        <a asp-controller="Home" asp-action="Index">Home</a> / <a asp-controller="Items" asp-action="Index">Items</a> / <a>@ViewData["title"]</a>
    </div>
</div>

<div class="row content-body">
    <div class="row">
        <div class="col-md-7">
            @if(Model.ItemsList.Count > 0)
            {
                <table class="table table-bordered card">
                    <thead>
                        <tr>
                            <td colspan="6" class="table-header">List of items</td>
                        </tr>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Valid From</th>
                            <th>Valid To</th>
                            <th>With VAT</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ItemsList)
                        {
                            <tr>
                                <td>@item.ItemName</td>
                                <td>@item.Price</td>
                                <td>@item.DateValidFrom</td>
                                <td>@item.DateValidTo</td>
                                <td>@item.PriceWithVAT</td>
                                <td><a asp-controller="Items" asp-action="ItemPrices" asp-route-id="@item.ItemID">Edit price</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div>
                    <h2>No items yet.</h2>
                </div>
            }
        </div>
        <div class="col-md-5">
            @if(Model.ItemID != null)
            {   
                <div class="card">
                    <div class="card-header">
                        New price
                    </div>
                    <form asp-controller="Items" asp-action="ItemPrices" method="POST">
                        <input asp-for="ItemID" hidden>
                        <div class="form-group">
                            <label asp-for="ItemName"></label>
                            <input asp-for="ItemName" class="w3-input w3-border" readonly>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price"></label>
                            <input asp-for="Price" class="w3-input w3-border">
                        </div>
                        <div class="form-group">
                            <label asp-for="DateValidFrom"></label>
                            <input asp-for="DateValidFrom" class="w3-input w3-border">
                        </div>
                        <div class="form-group">
                            <label asp-for="DateValidTo"></label>
                            <input asp-for="DateValidTo" class="w3-input w3-border">
                        </div>
                        <button type="submit" class="w3-button w3-border">Save</button>
                    </form>
                </div>
                @if (Model.PriceList.Count > 0)
                {
                    <table class="table table-bordered card">
                        <thead>
                            <tr>
                                <td colspan="4" class="table-header">Price List</td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <th>Valid From</th>
                                <th>Valid To</th>
                                <th>With VAT</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PriceList)
                            {
                                <tr>
                                    <td>@item.Price</td>
                                    <td>@item.DateValidFrom</td>
                                    <td>@item.DateValidTo</td>
                                    <td>@item.PriceWithVAT</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
</div>