@model VatClassViewModel    

@{
    ViewData["title"] = "Vat class";
}

<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>@ViewData["title"]</h2>
    </div>
    <div class="col-sm-4 content-header-center">
        <a asp-controller="Home" asp-action="Index">Home</a> / <a asp-controller="Items" asp-action="Index">Items</a> / <a>@ViewData["title"]</a>
    </div>
</div>

<div class="row content-body">
    <div class="col-md-5 card">
        <div class="card-header">Vat class</div>
        <form asp-controller="Items" asp-action="VatClass" method="POST">
            <input asp-for="ID" hidden>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="w3-input w3-border">
                </div>
                <div class="form-group col-xs-4">
                    <label asp-for="Value"></label>
                    <input asp-for="Value" class="w3-input w3-border">
                </div>
                <div class="form-group col-xs-2">
                    <label asp-for="Active"></label><br>
                    <input asp-for="Active" class="w3-input w3-border">
                </div>
            </div>
            <div class="row">
                <div asp-validation-summary="All" class="text-center text-danger col-xs-6">
                </div>
                <div class="col-xs-6 text-right">
                    @if(Model.IsNotNew)
                    {
                        <a asp-controller="Items" asp-action="VatClass" asp-route-id="" class="w3-btn w3-border">New</a>
                    }
                    <button type="submit" class="w3-btn w3-border">Save</button>
                </div>
            </div>
        </form>
    </div>
    @if(Model.VatClassList != null){
            <table class="table table-bordered card">
                <tr>
                    <td class="table-header" colspan="4">Item packings</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Active</th>
                    <th></th>
                </tr>
                @foreach(var vc in Model.VatClassList)
                {
                    <tr>
                        <td>@vc.Name</td>
                        <td>@vc.Value</td>
                        <td><input asp-for="@vc.Active" onclick="return false;"></td>
                        <td><a asp-controller="Items" asp-action="VatClass" asp-route-id="@vc.ID">Edit</a></td>
                    </tr>
                }
            </table>
        }
</div>