@model ERP.ViewModels.ClientsViewModels.ClientViewModel

<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-sm-4 content-header-center">
        <a asp-controller="Home" asp-action="Index">Home</a> / <a asp-controller="Clients" asp-action="Index">Clients</a>
    </div>
</div>

<div class="row content-body">
    <div class="card">
        <div class="card-header">Client details</div>
        <form asp-controller="Clients" asp-action="Index" method="POST">

            <input asp-for="ID" hidden>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group col-xs-7">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="w3-input w3-border">
                    </div>
                    <div class="form-group col-xs-5">
                        <label asp-for="DaysForPaying"></label>
                        <input asp-for="DaysForPaying" class="w3-input w3-border">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group col-xs-6">
                        <label asp-for="UniqueNumber"></label>
                        <input asp-for="UniqueNumber" class="w3-input w3-border">
                    </div>
                    <div class="form-group col-xs-6">
                        <label asp-for="TaxNumber"></label>
                        <input asp-for="TaxNumber" class="w3-input w3-border">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group col-xs-6">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="w3-input w3-border">
                    </div>
                    <div class="form-group col-xs-6">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" class="w3-input w3-border">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group col-xs-8">
                        <label asp-for="City"></label>
                        <input asp-for="City" class="w3-input w3-border">
                    </div>
                    <div class="form-group col-xs-4">
                        <label asp-for="ZipCode"></label>
                        <input asp-for="ZipCode" class="w3-input w3-border">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group col-xs-10">
                        <label asp-for="Country"></label>
                        <input asp-for="Country" class="w3-input w3-border">
                    </div>
                    <div class="form-group col-xs-2">
                        <label asp-for="Active">
                            Active <input asp-for="Active" class="w3-input w3-border"> 
                        </label>
                    </div>
                </div>
            </div>
        

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="text-right">
                @if(Model.IsNotNew)
                {
                    <a asp-controller="Clients" asp-action="Index" asp-route-id="" class="w3-btn w3-border">New</a>
                }
                <button type="submit" class="w3-btn w3-border">Save</button>
            </div>
        </form>
    </div>

    @{
        if(Model.ClientList.Count > 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered card">
                    <thead>
                    <tr>
                        <td colspan="8" class="table-header">Client list</td>
                    </tr>
                    <tr>
                        <th><label asp-for="@Model.ClientList[0].Name"></label></th>
                        <th><label asp-for="@Model.ClientList[0].DaysForPaying"></label></th>
                        <th><label asp-for="@Model.ClientList[0].UniqueNumber"></label></th>
                        <th><label asp-for="@Model.ClientList[0].TaxNumber"></label></th>
                        <th><label asp-for="@Model.ClientList[0].PhoneNumber"></label></th>
                        <th><label>Client details</label></th>
                        <th><label asp-for="@Model.ClientList[0].Active"></label></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var client in Model.ClientList)
                    {
                        <tr>
                            <td>@client.Name</td>
                            <td>@client.DaysForPaying</td>
                            <td>@client.UniqueNumber</td>
                            <td>@client.TaxNumber</td>
                            <td>@client.PhoneNumber</td>
                            <td>@client.Address @client.City @client.ZipCode @client.Country</td>
                            <td><input asp-for="@client.Active" onClick="return false;"></td>
                            <td><a asp-controller="Clients" asp-action="Index" asp-route-id="@client.ID">Edit</a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h2>No clients yet.</h2>
        }
    }
    
</div>