
@model ERP.ViewModels.DocumentsViewModels.DocumentTypeViewModel
@{
  ViewData["Title"] = "Document type";  
}

<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-sm-4 content-header-center">
        <a asp-controller="Home" asp-action="Index">Home</a> / <a asp-controller="Documents" asp-action="Index">Documents</a> / <a>@ViewData["Title"]</a>
    </div>
</div>

<div class="row content-body">
 
    <div class="card col-lg-6">
        <div class="card-header">Document type</div>
        <form asp-controller="Documents" asp-action="DocumentType" method="POST">
            <input asp-for="ID" type="hidden">
            <div class="row">
                <div class="form-group col-xs-10">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="w3-input w3-border">
                </div>
                <div class="form-group col-xs-2">
                    <label asp-for="Active"></label><br>
                    <input asp-for="Active">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label asp-for="AffectingQuantity"></label><br>
                    <input asp-for="AffectingQuantity">
                </div>
                <div class="form-group col-xs-6">
                        <label asp-for="AffectingValue"></label><br>
                        <input asp-for="AffectingValue" type="radio" value="1" /> In
                        <input asp-for="AffectingValue" type="radio" value="-1" /> Out
                </div>
            </div>
            <div class="row">
                <div asp-validation-summary="All" class="text-danger col-xs-7"></div>
                <div class="text-right col-xs-5">
                    @if(Model.IsNotNew)
                    {
                        <a asp-controller="Documents" asp-action="DocumentType" asp-route-id="" class="w3-btn w3-border">New</a>
                    }
                    <button type="submit" class="w3-btn w3-border">Save</button>
                </div>
            </div>
        </form>
    </div>

    @if(Model.DocumentTypeList.Count > 0)
    {
        <div class="col-lg-12 row table-responsive">
            <table class="table table-bordered card">
                <thead>
                <tr>
                    <td colspan="5" class="table-header">Document type list</td>
                </tr>
                <tr>
                    <th><label asp-for="DocumentTypeList[0].Name"></label></th>
                    <th><label asp-for="DocumentTypeList[0].AffectingQuantity"></label></th>
                    <th><label asp-for="DocumentTypeList[0].AffectingValue"></label></th>
                    <th><label asp-for="DocumentTypeList[0].Active"></label></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var docType in Model.DocumentTypeList)
                {
                    <tr>
                        <td>@docType.Name</td>
                        <td><input asp-for="@docType.AffectingQuantity" onclick="return false;"></td>
                        <td>
                            @if(docType.AffectingValue == -1)
                            {
                                <span>Out</span>
                            }
                            else
                            {
                                <span>In</span>
                            }
                        </td>
                        <td><input asp-for="@docType.Active" onclick="return false;"></td>
                        <td><a asp-controller="Documents" asp-action="DocumentType" asp-route-id="@docType.ID">Edit</a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }

</div>