@model ERP.ViewModels.DocumentsViewModels.IndexViewModel


<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-sm-4 content-header-center">
        <a asp-controller="Home" asp-action="Index">Home</a> / <a>@ViewData["Title"]</a>
    </div>
</div>

<div class="row content-body">
    <ul class="nav nav-pills">
        <li><a class="menu-pill background-white shadow" asp-controller="Documents" asp-action="DocumentType">DocumentTypes</a></li>
    </ul>
    <hr>
    @if(Model.DocumentsList != null)
    {
        <div class="table-responsive">
            <table class="table table-bordered card">
                <thead>
                <tr>
                    <td colspan="9" class="card-header">Documents</td>
                </tr>
                <tr>
                    <th>Number</th>
                    <th>Document type</th>
                    <th>Client</th>
                    <th>Date</th>
                    <th>Date due</th>
                    <th>Basic price</th>
                    <th>VAT price</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach(var doc in Model.DocumentsList)
                {
                    <tr>
                        <td>@doc.DocumentNumber</td>
                        <td>@doc.DocumentTypeName</td>
                        <td>@doc.ClientName</td>
                        <td>@doc.Date.ToShortDateString()</td>
                        <td>@doc.DateForPayingDue.ToShortDateString()</td>
                        <td>@doc.BasicPrice</td>
                        <td>@doc.VatPrice</td>
                        <td>@doc.Price</td>
                        <td><a href="documents/InvoiceAsync/@doc.ID" target="_blank">Print</a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
</div>