﻿@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row content-header">
    <div class="col-sm-4 content-header-left">
        <h2>Manage</h2>
    </div>
    <div class="col-sm-4 content-header-center">
        <a asp-controller="Home" asp-action="Index">Home</a> / <a>Manage</a>
    </div>
</div>

<div class="row content-body">
    <div>
        <div class="row">
            <div class="col-md-12">
                @await Html.PartialAsync("_ManageNav")
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
