﻿@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills">
    <li><a class="menu-pill background-white shadow" asp-action="Index">Profile</a></li>
    <li><a class="menu-pill background-white shadow" asp-action="ChangePassword">Password</a></li>
</ul>
<hr>

<!-- <ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Password</a></li>
</ul> -->

