﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<partial name="_StatusMessage" for="StatusMessage"></partial>
    <div class="col-md-8 card">
        <div class="row card-header">@ViewData["Title"]</div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="w3-input w3-border" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="w3-input w3-border" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="w3-input w3-border" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="text-right">
                <button type="submit" class="w3-button w3-border">Update password</button>
            </div>
        </form>
    </div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
