﻿@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<partial name="_StatusMessage" for="StatusMessage"></partial>
    <div class="col-md-8 card">
        <div class="row card-header">@ViewData["Title"]</div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="w3-input w3-border" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="w3-input w3-border" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="w3-input w3-border" />
                    <button asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="w3-input w3-border" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="text-right">
                <button type="submit" class="w3-button w3-border">Save</button>
            </div>
        </form>
    </div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
